/*==================================================

 +-+-+-+-+-+-+-+ +-+-+-+-+-+-+-+-+-+-+
 |A|u|t|h|o|r|:| |@|s|a|y|e|m|o|n|1|0|
 +-+-+-+-+-+-+-+ +-+-+-+-+-+-+-+-+-+-+

Author URL: https://sayemon10.github.io

Version: 1.0

[Table of Contents]
--------------------------------------------------
- Typography
- body
- Common 
- Navigation
- Homepage
    - Intro
    - About
    - Contact
- Media Queries 
    - 991px
    - 767px
    - 480px

==================================================*/

/*==================================================
    Section:    Font-face setup
==================================================*/

@font-face {
    font-family: "SF UI_light";
    src: url("../fonts/SF-UI-Display-Light.ttf") format("Truetype");
}

@font-face {
    font-family: "SF UI_italic";
    src: url("../fonts/SF-UI-Text-LightItalic.ttf") format("Truetype");
}

/*==================================================
    Section:    Root 
==================================================*/

:root {
    --fontLight: "SF UI_light";
    --fontItalic: "SF UI_italic";
    --white: rgba(230, 230, 230, 1);
    --red: rgba(129, 3, 3, 1);
    --black: black;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: var(--fontLight);
}

a:hover {
    text-decoration: none;
}

body {
    background-color: var(--white);
}

.modal-body {
    padding: 0.1rem;
}

/*==================================================
    Section:    Projects & Intro 
==================================================*/

#Logo {
    height: 3rem;
}

.NavbarBg {
    background-color: var(--white);
}

nav.navbar div#navbarSupportedContent ul.navbar-nav li.nav-item a.nav-link {
    color: var(--black);
    font-family: var(--fontLight);
}

#bottom {
    background: var(--white);
    font-family: var(--fontItalic);
}

#bottom div.container div.d-inline-flex {
    font-family: var(--fontLight);
}

#navbarSupportedContent ul div.d-inline-flex a, #bottom div.container div.d-inline-flex div.ml-3 a {
    color: var(--black);
    font-size: 1.1rem;
}

ul.list-inline li.list-inline-item {
    padding: 0 20px;
    position: relative;
    cursor: pointer;
}

ul.list-inline li.list-inline-item::after {
    content: "";
    background: none;
    height: 16px;
    width: 1px;
    border-right: 2px solid var(--black);
    position: absolute;
    right: -1px;
    top: 5px;
}

ul.list-inline li.list-inline-item:last-child::after {
    display: none;
}

ul.list-inline li.list-inline-item:hover {
    color: var(--red);
}

.tile {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.scale-anm {
    transform: scale(1);
}

.content {
    height: 40vh;
}

.project {
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    object-fit: cover;
    padding: 1%;
}

div.container-fluid div.row div.col-lg-4 a:hover .project {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

div.container-fluid div.row div.col-lg-4 a div.position-absolute {
    left: 1%;
    right: 1%;
    bottom: 1%;
    top: 50%;
    background: rgba(0, 0, 0, 0.6);
    color: var(--white);
    padding: 3% 0 0;
    display: none;
}

div.container-fluid div.row div.col-lg-4 a:hover div.position-absolute {
    display: block;
}

#Projects a.col {
    font-family: var(--fontLight);
    font-size: 2rem;
    color: var(--black);
    height: 20vh;
}

#Projects a.col:hover {
    color: var(--white);
    background-color: var(--black);
}

#gallery {
    overflow: hidden;
}

.gallery-img {
    height: 40vh;
    width: 100%;
    padding: 1%;
    object-fit: cover;
    object-position: center;
}

/*==================================================
    Section:    About 
==================================================*/

#About div.container-fluid {
    background-image: url("../images/515965490-612x612.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: right bottom;
}

#About div.container-fluid div.position-absolute {
    top: 35%;
    right: 0;
    left: 0;
    color: var(--black);
}

#About div.container-fluid div.position-absolute h1 img {
    height: 3rem;
}

#About ul.list-inline li.list-inline-item::after {
    display: none;
}

#About ul.list-inline li.list-inline-item i {
    font-size: 2rem;
}

#About ul.list-inline li.list-inline-item .media {
    color: rgba(50, 50, 50, 1)
}

.media-body>p {
    font-size: smaller;
}

/*==================================================
    Section:    Contact 
==================================================*/

#Contact {
    height: 100vh;
}

.number {
    font-size: 3rem;
}

#Contact div.container div.row div.media i {
    font-size: 2.5rem;
}

#Contact div.container div.row a#mail {
    background: var(--black);
    color: var(--white);
}

#Contact div.container div.row a#mail:hover {
    background: var(--white);
    border: 1px solid var(--black);
    cursor: pointer;
    color: var(--black);
}

.ion-paperclip, .ion-ios-telephone-outline {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

#map {
    overflow: hidden;
}

#map iframe {
    height: 55vh;
    width: 100vw;
}

/*==================================================
    @media-queries for cross-devices changes
==================================================*/

@media only screen and (max-width: 575.98px) {
    #Logo {
        height: 1.75rem;
    }
    .content {
        height: 50vh;
    }
    .project {
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
    }
    #bottom {
        font-size: 0.85rem;
    }
    .number {
        font-size: 2.85rem;
    }
    div.container-fluid div.row div.col-lg-4 a div.position-absolute {
        display: block;
    }
    #About div.container-fluid {
        background-position: center bottom;
    }
    #About div.container-fluid div.position-absolute {
        top: 20%;
    }
    #About div.container-fluid div.position-absolute h1 {
        font-size: 2rem;
    }
    #About div.container-fluid div.position-absolute h1 img {
        height: 1.85rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    #Logo {
        height: 2rem;
    }
    .content {
        height: 50vh;
    }
    .project {
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
    }
    #bottom {
        font-size: 0.85rem;
    }
    div.container-fluid div.row div.col-lg-4 a div.position-absolute {
        display: block;
    }
    .number {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    #Logo {
        height: 2rem;
    }
    .content {
        height: 50vh;
    }
    .project {
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
    }
    div.container-fluid div.row div.col-lg-4 a div.position-absolute {
        display: block;
    }
    #Projects div.container-fluid div.row div.col-lg-4:last-child {
        margin: 0 auto;
    }
    .number {
        font-size: 2rem;
    }
    #bottom {
        font-size: 0.85rem;
    }
    #bottom div.container div.d-inline-flex div.ml-3 a {
        font-size: 0.9rem;
    }
}

/*==================================================
    Preloader CSS
==================================================*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black);
    z-index: 9999999;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: var(--white);
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}